@use '../settings/variables';
@use '../tools/mixins';

p {
  font-size: variables.$fs-m;
  margin: 0;
}

@each $name, $size in variables.$font-sizes {
  .text-#{$name} {
    @include mixins.text-size($size);
  }
}
@each $name, $color in variables.$theme-color {
  .text-#{$name} {
    @include mixins.text-color($color);
  }
}

.wgh-500 {
 font-weight: 500;
}
.wgh-600 {
 font-weight: 600;
}
.wgh-700 {
 font-weight: 700;
}

