@use '@/sass/settings/variables';

.card {
    background-color: variables.$primary-color;
    padding: variables.$space-m;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;

    &__title {
        margin-bottom: variables.$space-xs;
    }

    &__body {
        padding-bottom: variables.$space-s;
        margin-bottom: auto;
    }

    &__footer {
        width: 100%;
        display: flex;
        column-gap: variables.$space-s;
        align-items: center;
        justify-content: center;
    }
}
