@use '@/sass/settings/variables';
@use '@/sass/tools/mixins';

.forecast {
    width: 100%;
    padding: variables.$space-xl variables.$space-m;
    background-color: variables.$primary-dark-color;

    @include mixins.media-query('xl') {
        padding-left: 154px;
        padding-right: 154px;
    }

    @include mixins.media-query('l') {
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: variables.$space-m;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        margin-bottom: variables.$space-l;
    }

    &__options {
        display: flex;
        justify-content: flex-end;
        column-gap: variables.$space-s;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: variables.$space-l;
        margin-bottom: variables.$space-xl;
    }

    &__footer {
        text-align: center;
        font-family: variables.$secondary-font;
        font-weight: 700;

        p {
            display: flex;
            justify-content: center;
        }
    }
}
